

<div class="container center">
  <h1>Inscription</h1>
    <form class="col s12">
      <div class="row">
        <div class="input-field col offset-s2 s4">
          <input id="pseudo" type="text" class="validate">
          <label for="pseudo">Pseudo</label>
        </div>
        <div class="input-field col offset-s1 s4">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field col offset-s2 s4">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col col offset-s1 s4">
            <input id="confirm_password" type="password" class="validate">
            <label for="confirm_password">Conformation password</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field col offset-s2 s4">
            <input id="gamer_tag" type="text" class="validate">
            <label for="gamer_tag">Gamertag</label>
        </div>
        <div class="input-field col col offset-s1 s4">
            <select class="browser-default" name="" id="">
                <option value="">Choose your plateform</option>
                <option value="">PS4</option>
                <option value="">Xbox</option>
                <option value="">PC</option>
            </select>
        </div>
      </div>
      <div class="row">
        <button class="col offset-s8 s3 btn-inscription">
            M'INSCRIRE
        </button>
      </div>
    
   
    </form>
  </div>