<h1>{{titleGame}}</h1>
<div *ngIf="annonce" class="annonce-card">
    <div class="user-info">
        <div class="col left">
           <i class="material-icons white circle">face</i>
        </div>
        <div class="col right">
            <p>{{annonce.user.pseudo}}</p>
            <p>{{annonce.plateforme}}</p>
            <p>{{annonce.user.gamertag}}</p>

        </div>

    </div>
    <div class="annonce-info">
        <div class="en-tete">
            <p>Titre : {{annonce.titre}} | Niveau : {{annonce.niveau}}</p>
        </div>
        <p class="delete" *ngIf="showCross" (click)="deleteAnnounce()">X</p>
        <p>{{annonce.message}}</p>
    </div>
</div>

  <app-answer *ngIf="annonce" [id]="annonce.id"></app-answer>
