h1 {
    text-align: center;
}

.annonce-card {
    width: 70%;
    margin: 10% 15%;
}

.user-info {
    line-height: 5px;
    display: flex;
}

.material-icons {
    font-size: 100px;
}

.col.right {
    flex:3;
    padding: 20px;
}

.col.left {
    flex:0.5;
}
.annonce-info{

    padding: 20px 5px 5px 50px;
    background-color: #dbc95b;
    border-radius: 10px;
    color: #484490;
    height: 150px;
}

.delete {
  position: relative;
  left: 97%;
  top: -40%;
  color: red;
  font-weight: bold;
}

.delete:hover {
cursor: pointer;
}

.en-tete {
    font-size: 10px;
    color: #484490;
    text-align: center;
}

.profil-picture {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

@media screen and (max-width: 860px) {
  .delete {
    left: 90%;
  }

  .annonce-card{
    width: 90%;
    margin: 0 auto;

  }
}
