/* You can add global styles to this file, and also import other style files */

body {
    background-color: #0C0C28;
    color: #DBC95C;
}

.btn-inscription {
    font-weight: bold;
    background: none;
    border: none;
    color: #DBD159;
    font-size: 20px;
}

.btn-inscription::after {
    background-image: url('assets/image/arrow-down-filled-triangle.svg');
    background-size: 10px 20px;
    position: relative;
    top: 15px;
    display:inline-block;
    width: 10px; 
    height: 20px;
    content:"";
}

.btn-inscription:hover {
    cursor: pointer;
}

input {
    color: white;
}

.browser-default{
    appearance: none;
    background: url('assets/image/arrow-down-filled-triangle.svg') no-repeat right;
    background-size: 10px 20px;
    background-color: #0C0C28;
    color: white;
    border:transparent;
    border-bottom: 1px  #DBD159 solid;
}

.browser-default:active,
.browser-default:focus,
.browser-default:checked,
.browser-default::selection
{
    outline: none !important;
}

.alert {
    color: red;
    font-size: 10px;
    text-align: left;
}