<!-- 
<div class="cardd" *ngFor="let answers of answer, let index = index">
<p>Message : {{answers.message}}</p>
<p>Auteur : {{answers.user_id.pseudo}}</p>
<p>Id : {{answers.id}}</p>
<p>Creation : {{answers.creation_date}}</p>
</div>
 -->
<div class="conteneur-card">
    <div *ngFor="let answers of answer, let index = index" class="annonce-card">
        <div class="user-info">
            <div class="col left">
               <i class="material-icons white circle">face</i> 
            </div>
            <div class="col right">
                <p>{{answers.user_id.pseudo}}</p>
                <p>{{answers.user_id.plateforme}}</p>
                <p>{{answers.user_id.gamertag}}</p>
            </div>
           
        </div>
        <div class="annonce-info">
            <div class="en-tete">
                <p>Date : {{answers.creation_date}}</p>
            </div>
            <p>{{answers.message}}</p>
        </div>
    </div>
    
    <div class="row">
       <button *ngIf="!isAnswering" class="btn-answer" (click)="answering()">REPONDRE</button>
    </div>

    <div *ngIf="isAnswering" class="container center">
          <form name="form" (ngSubmit)="registerForm.form.valid && sentResponse()" #registerForm="ngForm" class="col s12">
            <div class="row">
              <div class="input-field col offset-s2 s8">
                
                <textarea id="textarea1" class="materialize-textarea" name="message" [(ngModel)]="model.message" #message="ngModel" type="text" class="validate" required data-length="10"> </textarea>
                <label for="textarea1">Textarea</label>
                <!-- <input id="message" name="message" [(ngModel)]="model.message" #message="ngModel" type="text" class="validate" required>
                <label for="message">Votre message ici</label> -->
              </div>
            </div>
            <div class="row" >
              <button type="submit" class="col offset-s8 s3 btn-answer">
                  REPONDRE
              </button>
            </div>

          </form>
        </div>
</div>