<app-previous></app-previous>
<h1>Annonces</h1>

<table>
    <tr class="en-tete">
      <td>Pseudo</td>
      <td>Titre</td>
      <td>Jeu</td>
      <td>Niveau</td>
      <td>Plateforme</td>
    </tr>
    <tr *ngFor="let announce of annonce" class="table-body" (click)="navigateToAnnounce(announce.id, announce.jeux.nom)">
      <td>{{announce.user.pseudo}}</td>
      <td class="textbox">{{(announce.titre .lengthS20)? (announce.titre  | slice:0:8)+'..':(announce.titre )}}</td>
      <td>{{announce.jeux.nom}}</td>
      <td>{{announce.niveau}} </td>
      <td>{{announce.plateforme}}</td>
    </tr>
  </table>
