#pseudo, #password{
    border-bottom: 1px #DBD159 solid;
    /* background: url('../../../assets/image/arrow-down-filled-triangle.svg') no-repeat right;
    background-size: 10px 20px; */
}

label {
    color:  white;
}

 /* label focus color */
 .input-field input[type=text]:focus + label {
    color: white;
    
}
/* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }