<!-- <div>
  <p *ngFor="let menu of Menu">
    <a [routerLink]="menu">{{menu}}</a>
  </p>
</div> -->

<div id="container">
  <div class="img-container">
      <img class="responsive-img center-align" src="./../../../assets/image/Rectangle/Plan de travail 2 copie.svg" alt="">
  </div>
  <div id="row" class="center">
      <p>
        <a routerLink="More">More</a>
      </p>
      <p>
        <a routerLink="Recherche">Recherche</a>
      </p>
      <p>
        <a routerLink="Poster">Poster</a>
      </p>
      <p *ngIf="!loggedIn()">
        <a routerLink="Connexion">Connexion</a>
      </p>
      <p *ngIf="!loggedIn()">
        <a routerLink="Inscription">Inscription</a>
      </p>
      <p *ngIf="loggedIn()">
        <a routerLink="Profil">Profil</a>
      </p>
      <p *ngIf="loggedIn()">
        <a routerLink="Logout">Deconnexion</a>
      </p>
  </div>
</div>