<!-- <div>
  <p *ngFor="let menu of Menu">
    <a [routerLink]="menu">{{menu}}</a>
  </p>
</div> -->

<div id="container">
  <div class="img-container">
      <img class="responsive-img center-align" src="./../../../assets/image/Rectangle/rectangle_jaune.svg" alt="">
  </div>
  <div id="row" class="center">
      <p>
        <a routerLink="research">Recherche</a>
      </p>
      <p>
        <a routerLink="poster">Poster</a>
      </p>
      <p *ngIf="!loggedIn()">
        <a routerLink="connexion">Connexion</a>
      </p>
      <p *ngIf="!loggedIn()">
        <a routerLink="inscription">Inscription</a>
      </p>
      <p *ngIf="loggedIn()">
        <a routerLink="profil">Profil</a>
      </p>
      <p *ngIf="loggedIn()">
        <a routerLink="logout">Deconnexion</a>
      </p>
  </div>
</div>
