@import 'https://fonts.googleapis.com/css?family=Space+Mono';
@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';


p {
font-family: 'Press Start 2P';
font-size: 3vw;
line-height: 32px;
font-weight: 1;
/* text-transform: uppercase; */

}

.img-container {
  width: 75%;
  margin: 0 auto;
  border-bottom: 5px #DBC95C solid;
}

img {
  width: 400px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* a:hover::after {
  display: inline-block;
    width: 36px;
    height: 36px;
    content: "";
    background: url("../../../assets/image/previous.svg") no-repeat 0 0;
    background-size: 100%;


} */

p > a {
  color: #DBC95C;
  text-shadow: 0 5px 10px rgba(0,0,0,0.50);
  text-decoration: none;
}

p >  a:hover {
  text-decoration: underline;
font-size: 4vw;
font-weight: 900;
}

#container {
  /* border: 1px red solid; */
   margin: 5% auto!important;
  padding:0;
  margin: 0;
  height: 500px;
  margin: 8% 10%;
}


@media screen and (max-width: 860px) {
  p {
    font-size : 8vw;
  }

  .center{
    margin: 10% auto!important;
  }
}
