.container-post {
    border: 1px red solid;
    
}

/* .form-post {
    display: flex;
    
} */

form {
    display: flex;
}

.contain-left{
    border: 1px blue solid;
    flex: 1;
}

.game, .plateform, .level, .message, .button {
    border: 1px white solid;
}

.contain-right {
    border: 1px green solid;
    flex: 2;
}