.container-post {
    width: 75%;
    margin: 0% auto;
}

form {
    display: flex;
    padding: 10px;
}

.contain-left{
    flex: 1;
    padding: 10px;
}


.contain-right {
    flex: 2;
    padding: 10px;
}